@charset "UTF-8";
/* CSS Main Calendar */

body {
	margin:100px;
	background-color:#021f60;
	background-image:url('/images/calendar-background.jpg');
	background-repeat:no-repeat;
	background-position:center; 
}

#calendar {
	width:600px;
	margin:0 auto;
}